.cardGrid {
  display: grid;
  gap: 1.2rem;
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.five-col {
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1200px) {
  .five-col {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  .three-col {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .five-col {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .cardGrid {
    gap: 1rem;
  }

  .three-col {
    grid-template-columns: 1fr;
  }

  .five-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .five-col {
    grid-template-columns: 1fr;
  }
}
