.btn {
  padding: 0.7rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  font-weight: 500;
  color: #fff;
}


.btn-circular {
  width: 48px;
  border: #fff;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}



