.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.6rem;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1;
}

.badge-default {
  background-color: #4a9eff;
  color: #fff;
}

.badge-pro {
  background-color: #ffb800;
  color: #000;
  padding: 0.25rem 0.6rem;
  font-size: 0.7rem;
}

.badge-notification {
  background-color: #e74c3c;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 0;
  font-size: 0.7rem;
  font-weight: 600;
}
