.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-logo {
  width: auto;
  height: 48.75px;
  object-fit: contain;
}

.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-default {
  width: 100%;
  height: auto;
  object-fit: cover;
}

