.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.5rem;
  background-color: #1a1a1a;
  border-bottom: 1px solid #2a2a2a;
}

.logo {
  display: flex;
  flex-direction: column;
}

.nav-links {
  width: 32%;
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
}

.notification-badge-wrapper {
  position: absolute;
  top: -1px;
  right: -8px;
}

@media (max-width: 1024px) {
  .nav {
    padding: 1rem 2rem;
  }
  
  .nav-links {
    gap: 2rem;
  }
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
  }

  .nav-links {
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
